* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.user-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.user-container a {
  text-decoration: none;
  color: inherit;
}

.user-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.name-post {
  font-weight: bold;
  text-decoration: none;
}

.name {
  font-size: x-large;
  text-decoration: none;
}

.user-container .name {
  color: blue;
}

.user-container .name-post span {
  color: gray;
}

.posts {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.img-post {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.img-post img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.posts-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.name-posts {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.user-posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  color: rgb(97, 96, 96);
  background-color: #f0f0f0;
  font-size: larger;
}

.com-like {
  font-size: smaller;
}

.show-all-posts {
  text-align: center;
  color: rgb(75, 56, 56);
  border: 1px solid black;
  padding: 5px 10px;
}

.post-of-user {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-comment {
  background-color: #f0f0f0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.post-user {
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_comment_like {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn_add_comment,
.btn_add_likes {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn_add_likes {
  background-color: #28a745;
}

.new_post {
  margin-bottom: 20px;
}

.new_post h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.back_to_posts {
  margin-bottom: 10px;
}

.add_new_post {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.new_post_title label,
.new_post_text label {
  display: block;
  margin-bottom: 5px;
}

.new_post_title input,
.new_post_text textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  resize: vertical;
}

.btn_new_post {
  margin-top: 10px;
}

.btn_create_post {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.btn_create_post:hover {
  background-color: #0056b3;
}

.new_comment {
  margin-bottom: 20px;
}

.new_comment h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.comment_text label {
  display: block;
  margin-bottom: 5px;
}

.comment_text textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  resize: vertical;
}

.btn_create_new_comment {
  margin-top: 10px;
}

.btn_create_comment {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.btn_create_comment:hover {
  background-color: #0056b3;
}


/* Log In */
.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}